:root {
	--w3c-stage-color: rgba(196, 190, 190, 0.37);
	--w3c-dialog-backgroud: #ffffff;
	--w3c-dialog-shadow: #bebbbb;
	--w3c-accent: #3f3f3f;
	--w3c-border: rgba(195, 195, 195, 0.14);
	--w3c-menu-hover-background: #f7f7f7;
	--w3c-description-color: rgb(169, 169, 188);
	--w3c-toolbar: #2c2c2c;
	--w3c-primary: rgb(114, 219, 27);
}

@media (prefers-color-scheme: dark) {
	:root {
		--w3c-stage-color: rgba(95, 95, 95, 0.37);
		--w3c-dialog-backgroud: #2c2c2c;
		--w3c-dialog-shadow: #1f1f1f;
		--w3c-accent: #ececec;
		--w3c-menu-hover-background: #424242;
	}
}

#w3c-dialog-stage {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--w3c-stage-color);
	backdrop-filter: blur(2px);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 10000;
	display: flex;
	align-content: center;
	align-items: center;
}

#w3c-dialog {
	margin: auto;
	width: 800px;
	height: 600px;
	background: var(--w3c-dialog-backgroud);
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
}

#w3-footer-bar {
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 2px 10px 2px 10px;
	font-size: 12px;
	font-weight: bold;
	/* border-top: 1px solid var(--w3c-border); */
}

#w3-footer-bar:link {
	color: var(--w3c-accent);
}

#w3-footer-bar:visited {
	color: var(--w3c-accent);
}

#w3-footer-bar:active {
	color: var(--w3c-accent);
}

#w3c-toolbar {
	/* background: var(--w3c-toolbar); */
	height: 40px;
	/* border-bottom: 1px solid var(--w3c-border); */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px 10px 15px;
}

#w3c-toolbar-more-button {
	width: 30px;
	height: 30px;
	padding: 10px;
}

#w3c-toolbar-more-button:hover {
	background: var(--w3c-menu-hover-background);
	border-radius: 10px;
}

#w3c-toolbar-more-button-icon {
	width: 100%;
	height: 100%;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./img/more.svg');
}

@media (prefers-color-scheme: dark) {
	#w3c-toolbar-more-button-icon {
		background-image: url('./img/more-dark.svg');
	}
}

#w3c-toolbar-home-button-icon {
	width: 100%;
	height: 100%;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./img/home.svg');
}

@media (prefers-color-scheme: dark) {
	#w3c-toolbar-home-button-icon {
		background-image: url('./img/home-dark.svg');
	}
}

.w3c-img {
	width: 100%;
	height: 100%;
}

#w3c-toolbar-logo {
	padding-left: 10px;
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px #1f1f1f;
}

#w3c-toolbar-title {
	margin-left: 10px;
	color: var(--w3c-accent);
	font-size: large;
	font-weight: bold;
	flex-grow: 1;
}

.w3c-toolbar-eth-logo {
	background-image: url('./img/eth.svg');
}

.w3c-toolbar-bsc-logo {
	background-image: url('./img/bsc.svg');
}

#w3c-dialog-home {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
	overflow-y: scroll;
	overflow-x: hidden;
}

.w3c-button-menu {
	width: 100%;
	min-height: 160px;
	border: 1px solid rgba(195, 195, 195, 0.14);
}

.w3c-menu {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	transition: all 0.2s linear;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
}

.w3c-menu:hover {
	background: var(--w3c-menu-hover-background);
}

.w3c-menu-icon {
	width: 100%;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.w3c-menu-title {
	font-size: 24px;
	font-weight: 400;
	margin-top: 20px;
	line-height: 100%;
	color: var(--w3c-accent);
}

.w3c-menu-description {
	width: 100%;
	font-size: 18px;
	margin-top: 10px;
	color: var(--w3c-description-color);
	text-align: center;
}

#w3c-networks {
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--w3c-border);
}

.w3c-network-item-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.w3c-network-item {
	margin: 2px;
	padding: 5px 20px 5px 20px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 400;
	color: var(--w3c-accent);
}

.w3c-network-item-selected {
	border-radius: 8px;
	border: 1px solid var(--w3c-primary);
}

.w3c-network-item:hover {
	background: var(--w3c-menu-hover-background);
	border-radius: 8px;
}

@media (max-width: 900px) {
	#w3c-dialog {
		width: 80%;
		height: 90%;
	}

	#w3c-dialog-home {
		flex-grow: 1;
		grid-template-columns: 1fr;
	}

	.w3c-menu-title {
		font-size: 4vw;
	}

	.w3c-menu-description {
		font-size: 3vw;
	}

	#w3-footer-bar {
		font-size: 10px;
	}
}

.w3c-dialog-stage-enter-active,
.w3c-dialog-stage-leave-active {
	transition: all 0.2s ease-out;
}

.w3c-dialog-stage-enter-from {
	opacity: 0.1;
}

.w3c-dialog-stage-leave-to {
	opacity: 0;
}

.w3c-dialog-enter-active,
.w3c-dialog-leave-active {
	transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.w3c-dialog-enter-from {
	opacity: 0.1;
	transform: translateY(100%);
}

.w3c-dialog-leave-to {
	opacity: 0;
	transform: translateY(100%);
}

.w3c-router-enter-active,
.w3c-router-leave-active {
	transition: all 0.2s linear;
}

.w3c-router-enter-from {
	opacity: 0.1;
	transform: translateX(-100%);
}

.w3c-router-leave-to {
	opacity: 0;
	/* transform: translateX(-100%); */
}
